*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(to left, rgb(12, 113, 172), rgb(7, 170, 192));
}

span { 
    font-size: 1.25em;
    color: white;
}

.container{
    max-width: 1500px;
    margin: auto;
}

header{
    background: rgba(255, 255, 255, 0.062);
}

header .logo{
    margin: 0;
    font-weight: bold;
    color: white;
    font-size: 1.6em;
    display: flex;
    align-items: center;
}

header .logo img{
    height: 50px;
    margin-right: 10px;
    
}

header .perfil img {
    width: 41px;
    border-radius: 30px;
    margin-left: 85px;
}

header .cajaUsu {
    position: fixed;
    width: 240px;
    height: 350px;
    background: rgba(64, 158, 212, 0.836);
    border-radius: 10px;
    margin-top: -60px;
    margin-left: 1260px;
    padding: 20px;
    display: none;
    opacity: 0;
    transition: 400ms;
}

header .cajaUsu.active {
    display: block;
    opacity: 1;
}

.cajaUsu a {
    background: none;
    color: rgba(255, 255, 255, 0.753);
    padding:10px;
}

.cajaUsu li {
    list-style: none;
    padding: 5px 0px;
}

.infUsu {
    position: relative;
    box-shadow: 0px 0px 0px px black;
}

.infUsu img {
    width: 43px;
    border-radius: 30px;
}

.infUsu span {
    position: absolute;
    margin-top: 13px;
    margin-left: 13px;
    font-size: 16px;
}

.opciones-container {
    margin-top: 15px;
}




header .container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header nav{
    display: flex;
    text-align: center;
    flex-direction: row;
    padding-right: 20px;
}

header a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(7, 170, 192);
    background-color: white;
    margin-left: 5px;
    border-radius: 24px;
    margin-top: 15px;
}

header a:hover{
    transition: 400ms;
    transform: translateY(-20%);
    box-shadow: 0px 15px 0px 0px rgba(0, 0, 0, 0.060);
    cursor: pointer;
}

.encabezado {
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.060);
    height: 48px;
}

.nav{
    margin: 0px;
}

.nav li a {

    color: white;
    padding: 15px 10px;
    display: block;
    text-decoration: none;
}

.nav li a:hover {
    background-color: rgba(238, 228, 228, 0.356);
}

.nav > li {
    float: left;
}

ul {
    list-style: none;
}


.nav li ul {
    background-color: rgba(0, 0, 0, 0.060);
}

.nav > li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
}

.nav li:hover > ul{
    display: block;
}